{% extends 'index.html' %}

{% block title %}
    <title>Edit</title>
{% endblock %}

{% block content %}
    <h1>Edit Page</h1>
    <hr>
    <form method="POST" action="{% url 'update' edit_blog.id %}">
        {% csrf_token %}
        제목 : <input type="text" name="title" value="{{ edit_blog.title }}"><br>
        본문 : <textarea name="body" cols="30" rows="10"></textarea> <br>
        작성자 : <input type="text" name="gaeul"> <br>
        <button type = "submit">작성</button>
    </form>
{% endblock %}