{% extends 'index.html' %}

{% block title %}
    <title>Edit</title>
{% endblock %}

{% block content %}
    <h1>Edit Page</h1>
    <hr>
    <form method="POST" action="{% url 'update' edit_post.id %}">
        {% csrf_token %}
        제목 : <input type="text" name="title" value="{{ edit_post.title }}"> <br>
        본문 : <textarea name="body" cols="30" rows="10">{{ edit_post.body }}</textarea> <br>
        작성자 : <input type="text" name="name" value="{{ edit_post.name }}"> <br>
        오늘의 점수 : <input type="number" name="score" value="{{ edit_post.score }}"> <br>
        <button type="submit"> 작성</button>
    </form>
{% endblock %}